.greet-header, .greet-div-top{
    border-style: solid;
    border-color: slategray;
    border-width: 2px;    
    border-radius: 2px 2px 2px 2px;
    margin: 20px 20% ;
    padding: 2em 2em;
    display: flex;
    flex-flow: row;
}
.radio-greet-btn{
    border-style: solid;
    border-color: slategray;
    border-width: 2px;    
    border-radius: 2px 2px 2px 2px;
    margin: 20px 20% ;
    padding: 2em 2em;
    display: flex;
    flex-flow: row;
}

h1,h4{
    font-family: fantasy;
}
.counter_label{
    display: flex;
    flex-flow: row;
    margin-left: auto;
    margin-right: auto;
}

.greetCtrl{
    display: flex;
}
.enter-name-field{
    margin-top: 19px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}


.head{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.span-name{
    display: flex;
    flex-flow: row;
}
.output_div{
    border-style: solid;
    border-color: slategray;
    border-width: 2px;    
    border-radius: 2px 2px 2px 2px;
    margin:  20px 20% ;
    padding: 2em 2em;
}
body{
    margin: 2em 2em 2em 2em;
    padding: 1em 1em 1em 1em;
}
.center{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row;
}

label{
    margin: 1em 1em;
}

@media only screen and (max-width :828px){
.greet-div-top{
    display: flex;
    flex-flow: column;
}
.radio-greet-btn{
    display: flex;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
    margin: 2em 2em ;
    padding: 2em 2em;
}
.label ,.button{
    margin-left: auto;
    margin-right: auto;
}
.center{
    display: flex;
    flex-flow: column;
}
    
}


